.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  align-items: center;
  color: white;
  text-decoration: none;
  background-color: #041227;
  background-image: url("../public/images/neptune-logo-circle.png");
  background-repeat: no-repeat;
  background-position: center;
  border: 5px solid #ffffff;
  border-radius: 80px;
  width: 80%;
  height: 500px;
}


.card h2 {
  padding: 130px 10px;
  float: left;
  margin: 0 0 1rem 0;
  font-size: 4rem;
}

.card h2 span {
  font-size: 4.5rem;
  font-weight: 1000;
  color: #82C9D9;
}

.links {
  align-items: center;
  float: right;
  padding: 100px 50px;
}

.social {
  list-style-type: none;
  padding: 10px 10px;
	display: flex;
	align-items: center;
}

.social li {
  padding: 0 25px;
  transition: transform 0.5s ease;
}

.social li:hover {
  transform: scale(1.1);
}


.logo {
  height: em;
  margin-left: 1rem;
}
