
.card {
    margin: 1rem;
    padding: 1.5rem;
    margin-top: 5rem;
    text-align: left;
    align-items: center;
    color: white;
    text-decoration: none;
    background-color: #041227;
    background-image: url("../public/images/neptune-logo-circle.png");
    background-repeat: no-repeat;
    background-position: center;
    border: 5px solid #041227;
    border-radius: 80px;
    width: 80%;
    height: 500px;
  }
  
  
  .card h2 {
    padding: 130px 10px;
    float: left;
    margin: 0 0 1rem 0;
    font-size: 4rem;
  }
  
  .card h2 span {
    font-size: 4.5rem;
    font-weight: 1000;
    color: #82C9D9;
  }
  
  .links {
    align-items: center;
    float: right;
    padding: 150px 50px;
  }
  
  .social {
    list-style-type: none;
    padding: 10px 10px;
      display: flex;
      align-items: center;
  }
  
  .social li {
    padding: 0 25px;
    transition: transform 0.5s ease, filter 1s ease;
  }
  
  .social li:hover {
    transform: scale(1.2);
    filter: hue-rotate(270deg);
  }
  