.container {
  display: flex;
  width: 1500px;
  height: 300px;
  background-color: #dfdfdf;
  overflow: hidden;
  justify-content: left;
  align-items: center;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(-1500px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.container div {
  display: flex;
  justify-content: center;
  height: 200px;
  min-width: 500px;
  width: 500px;
  animation: slide 30s linear infinite;
}


.container div img {
  filter: grayscale(100%);
  opacity: 50%;
}